.dialogWrapper {
    display: flex;
}

.dialogWrapper img {
    width: 20px;
    height: 20px;
}

.dialogs{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {
    color: white;
}
