.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: h;
  background-color: aqua;
}

.header img {
  width: 80px;
}

.title {
  margin-left: 20px;
  font-size: 30px;
}